Source: ros-indigo-ros-apache2
Section: misc
Priority: extra
Maintainer: David Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 9.0.0), apache2, libapache2-mod-python, ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-ros-apache2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: ros_apache2
