Source: ros-indigo-web-msgs
Section: misc
Priority: extra
Maintainer: David Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/web_msgs
Standards-Version: 3.9.2

Package: ros-indigo-web-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: web_msgs
